.history {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 15px;
  margin-right: 15px;
}
.history h2,
.history p {
  color: #333;
}
.about {
  margin-bottom: 0;
}
.referral h2 {
  color: #333;
}
.referral .btn-top {
  padding: 8px 24px;
  margin-top: 0;
  font-size: 14px;
  color: #fff;
}
.referral .btn-top:active {
  border-color: #92B700;
}
.referral .btn-top:active:focus {
  border-color: #92B700;
}
.referral__slide {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fafafa;
  background-image: url("../images/referral/header_image.svg");
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: bottom 0px right 350px;
}
@media (max-width: 767px) {
  .referral__slide {
    background-image: none;
  }
}
@media (min-width: 768px) and (max-width: 799px) {
  .referral__slide {
    background-position: bottom 0px right 0;
    background-size: auto 57%;
  }
}
@media (min-width: 800px) and (max-width: 991px) {
  .referral__slide {
    background-position: bottom 0px right 0;
    background-size: auto 57%;
  }
}
@media (min-width: 992px) and (max-width: 1099px) {
  .referral__slide {
    background-position: bottom 0px right 5%;
    background-size: auto 67%;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  .referral__slide {
    background-position: bottom 0px right 5%;
    background-size: auto 75%;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .referral__slide {
    background-position: bottom 0px right 3%;
  }
}
@media (min-width: 1301px) and (max-width: 1400px) {
  .referral__slide {
    background-position: bottom 0px right 10%;
  }
}
@media (min-width: 1401px) and (max-width: 1500px) {
  .referral__slide {
    background-position: bottom 0px right 13%;
  }
}
@media (min-width: 1501px) and (max-width: 1599px) {
  .referral__slide {
    background-position: bottom 0px right 15%;
  }
}
@media (min-width: 1601px) and (max-width: 1700px) {
  .referral__slide {
    background-position: bottom 0px right 20%;
  }
}
@media (min-width: 1701px) and (max-width: 1800px) {
  .referral__slide {
    background-position: bottom 0px right 23%;
  }
}
@media (width: 1280px) {
  .referral__slide {
    background-position: bottom 0px right 5%;
  }
}
@media (width: 1440px) {
  .referral__slide {
    background-position: bottom 0px right 14%;
  }
}
@media (width: 1600px) {
  .referral__slide {
    background-position: bottom 0px right 18%;
  }
}
@media (width: 1920px) {
  .referral__slide {
    background-position: bottom 0px right 26%;
  }
}
.referral__image img {
  width: 100%;
  height: auto;
}
.referral blockquote {
  background-color: #fafafa;
  font-size: 18px;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #eee;
}
.referral blockquote strong {
  display: block;
  font-size: 24px;
}
.referral blockquote strong:before {
  content: '☝️';
}
.referral ul {
  list-style: none;
  margin-left: 24px;
  margin-bottom: 40px;
}
.referral ul + p {
  margin-top: -30px;
}
.referral ul li {
  font-size: 18px;
}
.referral ul li:before {
  content: '-';
  margin-right: 8px;
}
.referral a {
  color: #92B700;
}
.referral h1 {
  margin-bottom: 24px;
}
.referral p {
  color: #333;
  margin-bottom: 40px;
}
.referral p + ul {
  margin-top: -30px;
}
.referral__about {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.referral__form {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #fff;
  padding: 24px;
}
.referral__form h3 {
  margin-top: 0;
  margin-bottom: 24px;
}
.referral__form p {
  margin: 0;
  padding: 0;
}
.referral__close {
  font-size: 50px;
}
.referral__size {
  background-color: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
}
.referral__size:after {
  width: 100%;
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url("../images/referral/money.png");
  background-size: 30%;
  content: '';
  display: block;
  z-index: -1;
  background-attachment: fixed;
}
.referral__level {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 24px;
  margin-bottom: 32px;
}
.referral__level h3 {
  margin-bottom: 60px;
  font-weight: 700;
}
.referral__level.deadlines h3 {
  margin-bottom: 16px;
}
.referral__level.deadlines img {
  width: auto;
  height: 20px;
  margin-top: -6px;
}
.referral__skill img {
  width: 20px;
  height: auto;
  margin-right: 8px;
}
@media (max-width: 768px) {
}
.referral__hot {
  position: relative;
}
.referral__hot:after {
  content: 'дополнительно к бонусу';
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: -18px;
  color: #636363;
  display: block;
  font-weight: 400;
}
.referral__small {
  font-size: 14px;
  color: #636363;
}
.referral__send-form {
  padding-bottom: 60px;
  padding-top: 60px;
}
.referral__send-form label {
  font-size: 16px;
}
.referral .form-control {
  height: 44px;
  font-size: 16px;
  padding: 6px 16px;
  font-weight: 300;
  border-radius: 100px;
}
.referral h3.who {
  margin-top: 24px;
}
.referral__faq {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #333;
}
.referral__faq h2 {
  color: #fff;
}
.referral__faq h3 {
  color: #fff;
}
.referral__faq p {
  color: #fff;
}
.slider__referral img {
  width: 100%;
  height: auto;
}
.slider.mb-60 {
  margin-bottom: 150px;
}
.slider.mb-60 h1 {
  margin-bottom: 30px;
}
.slider.mb-60 .btn-top {
  padding: 8px 24px;
  margin-top: 0;
  font-size: 14px;
  color: #fff;
}
.about-company h1 {
  color: #333;
}
.pagination .page-numbers li {
  font-size: 18px;
}
.pagination .page-numbers li a {
  font-size: 18px;
}
.agree a {
  color: #92B700;
}
.agree a:hover,
.agree a:focus {
  text-decoration: underline;
}
.maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 120px;
  position: relative;
}
.maps-container {
  width: 100%;
  margin-right: 30px;
  border-radius: 10px;
}
.maps-feedback {
  width: 300px;
  position: absolute;
  top: 50px;
  right: 450px;
}
.menu-top li a {
  font-size: 14px;
  padding: 10px 16px 8px 16px;
}
.ya-share2__list {
  list-style: none;
  padding-left: 0 !important;
}
.ya-share2__list li:before {
  content: "" !important;
  margin: 0;
  padding: 0;
}
.grecaptcha-badge {
  visibility: hidden;
}
.vacancy-item a {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  display: block;
  position: relative;
  background-color: #fafafa;
}
.vacancy-item a.remote-link {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: #92B700;
}
.vacancy-item a:focus,
.vacancy-item a:hover {
  background-color: #fafafa;
  border: 1px solid #E0E0E0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #333;
}
.vacancy-item a:focus:before,
.vacancy-item a:hover:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ECEBEB;
  position: absolute;
  z-index: -1;
  top: 8px;
  left: 8px;
  border-radius: 8px;
}
.vacancy-item a img {
  display: block;
  width: 18px;
  height: auto;
  position: absolute;
  top: 16px;
  right: 16px;
}
.vacancy-item a h3 {
  font-size: 18px;
  color: #333;
  margin: 0;
}
.vacancy-exp,
.vacancy-city {
  font-size: 14px;
  color: #333;
}
.vacancy h2 {
  color: #333;
}
.vacancy p.news-list {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  height: 60px;
  overflow-y: hidden;
}
.slider {
  margin-bottom: 120px;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .slider {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
.slider img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.slider-image {
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .slider-image {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.button {
  padding: 11px 36px;
  color: #333;
  font-size: 16px;
  display: inline-block;
  font-weight: 700;
  background-color: #fafafa;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border-color: transparent;
}
.button:focus,
.button:hover {
  text-decoration: none;
  background-color: #A4C815;
  color: #fff;
}
.button-primary {
  background-color: #92B700;
  color: #fff;
}
.button-secondary {
  background-color: #fff;
  color: #333;
}
.cherry-search form.cherry-search__form button.search-submit {
  padding: 11px 36px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  font-weight: 700;
  background-color: #fafafa;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  background-color: #92B700;
  border-color: transparent;
}
.cherry-search form.cherry-search__form button.search-submit:focus,
.cherry-search form.cherry-search__form button.search-submit:hover {
  text-decoration: none;
  background-color: #A4C815;
  color: #fff;
}
.news {
  padding-top: 60px;
  padding-bottom: 60px;
}
.news h2 {
  color: #333;
}
.news p {
  color: #333;
}
.news p.news-list {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  height: 60px;
  overflow-y: hidden;
}
.instagram {
  margin-bottom: 0;
}
div.wpcf7 .wpcf7-submit:disabled {
  border-color: transparent;
  opacity: 0.5;
}
.wpcf7-acceptance .wpcf7-list-item label:hover {
  cursor: pointer;
}


/* timeline page */


.timeline__header-block {
  background-image: url("../images/timeline/bg_map_light.svg");
  background-repeat: no-repeat;
  background-position: 0px 45%;
  background-size: cover;
  height: 1140px;
  width: 100%;
  padding: 120px 75px;
}
.timeline__header-block h2 {
  color: #333;
}
.timeline__header-block-title {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 120px;
  color: #FFFFFF;
  opacity: 0.3;
}
.timeline__header-block-desc {
  margin-top: 60px;
  width: 815px;
}
.timeline__header-block-desc p {
  font-family: 'Muller';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}
.timeline__header-block-desc p + p {
  margin-top: 20px;
}

/* old styles
.timeline__header-block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  width: 760px;
}
.timeline__header-block-list-item {
  max-width: 300px;
  margin: 0 40px 40px 0;
}
.timeline__header-block-list-item:nth-child(1),
.timeline__header-block-list-item:nth-child(3) {
  width: 255px;
}
.timeline__header-block-list-item .title {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  color: #333;
}
.timeline__header-block-list-item .desc {
  font-family: 'Muller';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #333;
  margin-top: 10px;
}
.timeline__body-title {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 120px;
  color: #000000;
  opacity: 0.3;
  margin: 60px 75px 0px;
}
.timeline__body-timeline {
  height: 730px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.timeline__nav {
  display: block;
  width: 100%;
  padding: 0;
  margin: 32px 0 0 0;
  list-style: none;
  text-align: center;
}
.timeline__nav li {
  position: relative;
  display: inline-block;
  width: auto;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  opacity: 0.2;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.timeline__nav li + li {
  margin-left: 28px;
}
.timeline__nav li:hover {
  opacity: 0.6;
}
.timeline__nav li.active {
  opacity: 0.8;
}
.timeline-slider {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.timeline-slider__list {
  width: 5844px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}
.timeline-slider__item {
  outline: none;
  width: 1898px;
  height: 610px;
  position: relative;
  border-bottom: 1px solid #ececec;
}
.timeline-slider__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 520px;
  background-color: #ececec;
}
.timeline-slider__item:before {
  content: "";
  position: absolute;
  top: 70px;
  left: 16px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 600;
  font-size: 250px;
  line-height: 200px;
  color: #333333;
  opacity: 0.03;
}
.timeline-slider__item:first-child {
  margin-left: 75px;
}
.timeline-slider__item:last-child {
  margin-right: 75px;
}
.timeline-slider__item_2017:before {
  content: "2017";
}
.timeline-slider__item_2018:before {
  content: "2018";
}
.timeline-slider__item_2019:before {
  content: "2019";
}
.timeline-slider__item_2020:before {
  content: "2020";
}
.timeline-slider__item_2021:before {
  content: "2021";
}
.timeline-slider__item-event {
  position: absolute;
}
.timeline-slider__item-event:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  border: 1px solid #ececec;
}
.timeline-slider__item-event:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -35px;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center 5px;
}
.timeline-slider__item-event_height-570 {
  top: 570px;
}
.timeline-slider__item-event_height-570:before {
  height: 40px;
}
.timeline-slider__item-event_height-425 {
  top: 495px;
}
.timeline-slider__item-event_height-425:before {
  height: 115px;
}
.timeline-slider__item-event_height-330 {
  top: 330px;
}
.timeline-slider__item-event_height-330:before {
  height: 280px;
}
.timeline-slider__item-event_height-160 {
  top: 160px;
}
.timeline-slider__item-event_height-160:before {
  height: 450px;
}
.timeline-slider__item-event_jan {
  left: 146px;
}
.timeline-slider__item-event_feb {
  left: 292px;
}
.timeline-slider__item-event_mar {
  left: 438px;
}
.timeline-slider__item-event_apr {
  left: 584px;
}
.timeline-slider__item-event_may {
  left: 730px;
}
.timeline-slider__item-event_jun {
  left: 876px;
}
.timeline-slider__item-event_jul {
  left: 1022px;
}
.timeline-slider__item-event_aug {
  left: 1168px;
}
.timeline-slider__item-event_sept {
  left: 1314px;
}
.timeline-slider__item-event_oct {
  left: 1460px;
}
.timeline-slider__item-event_nov {
  left: 1606px;
}
.timeline-slider__item-event_dec {
  left: 1754px;
}
.timeline-slider__item-event_cnews:after {
  background-image: url("../images/timeline/cnews.svg");
}
.timeline-slider__item-event_tagline:after {
  background-image: url("../images/timeline/tagline.svg");
}
.timeline-slider__item-event_magic-people:after {
  background-image: url("../images/timeline/magic-people.svg");
}
.timeline-slider__item-event_wadline:after {
  background-image: url("../images/timeline/wadline.svg");
}
.timeline-slider__item-event_rndtech:after {
  background-image: url("../images/timeline/rndtech.svg");
}
.timeline-slider__item-event_tadviser:after {
  background-image: url("../images/timeline/tadviser.svg");
}
.timeline-slider__item-event_hh:after {
  background-image: url("../images/timeline/hh.svg");
}
.timeline-slider__item-event_rbk:after {
  background-image: url("../images/timeline/rbk.svg");
}
.timeline-slider__item-event_habr:after {
  background-image: url("../images/timeline/habr.svg");
}
.timeline-slider__item-event_neufund:after {
  background-image: url("../images/timeline/neufund.svg");
}
.timeline-slider__item-event_topb2b:after {
  background-image: url("../images/timeline/topb2b.svg");
}
.timeline-slider__item-event_green:after {
  background: #A4C815;
  border-radius: 50%;
  top: -6px;
  left: -11px;
  border: 2px solid #FFFFFF;
  width: 21px;
  height: 21px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.timeline-slider__item-event_green:before {
  border: 1px dashed #ececec;
}
.timeline-slider__item-event .title {
  width: 250px;
  padding: 4px 0;
  margin-left: 32px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  position: relative;
  top: -10px;
}
.timeline-slider__item-event .title a {
  color: #A4C815;
  text-decoration: none;
  outline: none;
}
.timeline-slider__item-event .title a:hover {
  color: #92B700;
}
.timeline-slider__item-event .title .bold {
  font-weight: bold;
  font-size: 16px;
}
.timeline-slider__item-event_green .title {
  margin-left: 16px;
  width: 120px;
}
.timeline-slider::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f9f9fd;
}
.timeline-slider::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #f9f9fd;
}
.timeline-slider::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #848484;
}
.timeline-slider::-webkit-resizer {
  background-color: transparent;
}
.timeline-slider::-ms-reveal {
  display: none;
}
@media screen and (max-width: 991px) {
  .timeline {
    width: 100%;
    min-width: 100%;
  }
  .timeline__header-block {
    padding: 60px 0;
  }
  .timeline__header-block-title {
    font-size: 70px;
    line-height: 90px;
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .timeline__header-block-desc {
    margin-top: 30px;
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .timeline__header-block-list {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .timeline__header-block-list-item .title {
    font-size: 40px;
    line-height: 50px;
  }
  .timeline__header-block-list-item .desc {
    font-size: 18px;
  }
  .timeline__body-title {
    font-size: 70px;
    line-height: 80px;
    margin: 60px 0 0px;
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .timeline__body-timeline {
    margin-top: 0;
  }
  .timeline-slider__item:before {
    font-size: 180px;
    line-height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .timeline {
    width: 100%;
    min-width: 100%;
  }
  .timeline__header-block {
    padding: 30px 0;
    height: 940px;
  }
  .timeline__header-block-title {
    font-size: 50px;
    line-height: 60px;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
  }
  .timeline__header-block-desc {
    margin-top: 30px;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
  }
  .timeline__header-block-list {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
  }
  .timeline__header-block-list-item .title {
    font-size: 30px;
    line-height: 40px;
  }
  .timeline__header-block-list-item .desc {
    margin-top: 0;
  }
  .timeline__body-title {
    font-size: 50px;
    line-height: 54px;
    margin: 30px 0 0px;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
  }
  .timeline__body-timeline {
    margin-top: 0;
  }
  .timeline-slider__item:before {
    font-size: 180px;
    line-height: 150px;
  }
}
@media screen and (min-width: 435px) and (max-width: 767px) {
  .timeline__header-block {
    height: auto;
  }
}
@media screen and (max-width: 434px) {
  .timeline__header-block {
    height: auto;
  }
  .timeline__header-block-title {
    font-size: 36px;
    line-height: 46px;
  }
  .timeline__header-block-desc p {
    font-size: 18px;
    line-height: 28px;
  }
  .timeline__header-block-list-item .title {
    font-size: 26px;
    line-height: 36px;
  }
  .timeline__header-block-list-item .desc {
    font-size: 18px;
    line-height: 24px;
  }
  .timeline__header-block-list-item {
    margin: 0 0 20px 0;
  }
  .timeline__body-title {
    font-size: 36px;
    line-height: 46px;
    margin: 20px 0 0px;
  }
  .timeline-slider__item:before {
    font-size: 60px;
    line-height: 80px;
  }
}
 */

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  width: 640px;
  padding-bottom: 250px;
}
.about__list-item {
  max-width: 340px;
}
.about__list-item:nth-child(-n+2) {
  margin-bottom: 40px;
}
.about__list-item:nth-child(1), .about__list-item:nth-child(3) {
  width: 260px;
  margin-right: 40px;
}

.about__list-item .title_big {
  text-transform: initial;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 0;
}

.about__list-item .text {
  line-height: 32px;
  margin-top: 10px;
  max-width: 815px;
  font-size: 20px;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  .about {
    background-image: url('https://usetech.design/wp-content/themes/utdesign/img/map-without-city.svg');
    background-position: bottom 0 left 0;
    background-size: 100%;
  }
  .about__box {
    display: block;
    margin-bottom: 80px;
  }
  .about__col + .about__col {
    margin-left: 0;
    margin-top: 40px;
  }
  .about__pic {
    max-width: 100%;
  }
  .about .text {
    width: 100%;
  }
  .about__list {
    margin-top: 32px;
    padding-bottom: 120px;
  }
}
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .about {
    background-position: left 0 bottom 0;
    background-size: 150%;
  }
  .about__col iframe {
    width: 100%;
  }
  .about__pic {
    width: 100%;
  }
  .about .text {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
  .about__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    width: 100%;
    padding-bottom: 40px;
    padding-left: 15px;
  }
  .about__list-item {
    max-width: initial;
  }
  .about__list-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .about__list-item:nth-child(1),
  .about__list-item:nth-child(3) {
    width: 100%;
    margin-right: 0;
  }
  .about__list-item .title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;
  }
  .about__list-item .text {
    font-size: 16px;
    line-height: 19px;
    margin-top: 4px;
  }
}

.timeline {
  padding: 0 0 60px;
}
.timeline__body-title {
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 120px;
  color: #000000;
  opacity: 0.3;
  margin: 60px 75px 0;
}
.timeline__body-timeline {
  margin-top: 0;
  height: 730px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.timeline__nav {
  display: block;
  width: 100%;
  padding: 0;
  margin: 32px 0 0 0;
  list-style: none;
  text-align: center;
}
.timeline__nav li {
  position: relative;
  display: inline-block;
  width: auto;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  opacity: 0.2;
  transition: opacity 0.2s;
}
.timeline__nav li:hover {
  opacity: 0.6;
}
.timeline__nav li.active {
  opacity: 0.8;
}
.timeline__nav li + .timeline__nav li {
  margin-left: 28px;
}
.timeline-slider {
  width: 100%;
  height: calc(100% - 117px);
  position: relative;
  overflow: hidden;
  overflow-x: auto;
}
.timeline-slider__list {
  height: 100%;
  display: flex;
  margin-bottom: 4px;
}
.timeline-slider__item {
  outline: none;
  height: 617px;
  position: relative;
}
.timeline-slider__item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 520px;
  background-color: #212121;
  opacity: 0.2;
}
.timeline-slider__item:before {
  content: '';
  position: absolute;
  top: 70px;
  left: 16px;
  font-style: normal;
  font-weight: 800;
  font-size: 250px;
  line-height: 200px;
  color: #333333;
  opacity: 0.03;
}
.timeline-slider__item:first-child {
  margin-left: 75px;
}
.timeline-slider__item:last-child {
  margin-right: 75px;
}
.timeline-slider__item_2017:before {
  content: "2017";
}
.timeline-slider__item_2018:before {
  content: "2018";
}
.timeline-slider__item_2019:before {
  content: "2019";
}
.timeline-slider__item_2020:before {
  content: "2020";
}
.timeline-slider__item_2021:before {
  content: "2021";
}
.timeline-slider__item-event {
  position: absolute;
}
.timeline-slider__item-event:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  background-color: #212121;
  opacity: 0.2;
}
.timeline-slider__item-event:after {
  content: '';
  position: absolute;
  top: -10px;
  left: -35px;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center 5px;
}
.timeline-slider__item-event_height-570 {
  top: 570px;
}
.timeline-slider__item-event_height-570:before {
  height: 40px;
}
.timeline-slider__item-event_height-425 {
  top: 495px;
}
.timeline-slider__item-event_height-425:before {
  height: 112px;
}
.timeline-slider__item-event_height-400 {
  top: 400px;
}
.timeline-slider__item-event_height-400:before {
  height: 210px;
}
.timeline-slider__item-event_height-370 {
  top: 370px;
}
.timeline-slider__item-event_height-370:before {
  height: 240px;
}
.timeline-slider__item-event_height-330 {
  top: 330px;
}
.timeline-slider__item-event_height-330:before {
  height: 280px;
}
.timeline-slider__item-event_height-290 {
  top: 290px;
}
.timeline-slider__item-event_height-290:before {
  height: 320px;
}
.timeline-slider__item-event_height-270 {
  top: 270px;
}
.timeline-slider__item-event_height-270:before {
  height: 340px;
}
.timeline-slider__item-event_height-160 {
  top: 160px;
}
.timeline-slider__item-event_height-160:before {
  height: 450px;
}
.timeline-slider__item-event_green:after {
  background: #A4C815;
  border-radius: 50%;
  top: -6px;
  left: -11px;
  border: 2px solid #ffffff;
  width: 19px;
  height: 19px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.timeline-slider__item-event_green:before {
  border: 1px dashed #212121;
  background-color: initial;
  width: 0;
  left: -2px;
}
.timeline-slider__item-event_green .title-item {
  margin-left: 16px !important;
  width: 220px !important;
}
.timeline-slider__item-event .title-item {
  width: 250px;
  padding: 4px 0;
  margin-left: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  position: relative;
  top: -10px;
}
.timeline-slider__item-event .title-item a {
  color: #A4C815;
  text-decoration: none;
  outline: none;
}
.timeline-slider__item-event .title-item a:hover {
  color: #92B700;
}
.timeline-slider__item-event .title-item .bold {
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 8px;
}
.timeline-slider__item + .timeline-slider__item {
  margin-top: 0;
}
.timeline-slider::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f9f9fd;
}
.timeline-slider::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #f9f9fd;
}
.timeline-slider::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #848484;
}
.timeline-slider::-webkit-resizer {
  background-color: transparent;
}
.timeline-slider::-ms-reveal {
  display: none;
}
@media only screen and (max-width: 1199px) {
  .timeline__nav li {
    opacity: 1;
    padding: 0 16px;
    height: auto;
  }
  .timeline__nav li.active {
    background-color: #A4C815;
    font-weight: 800;
    border-radius: 4px;
    opacity: 1;
  }
  .timeline__nav li + .timeline__nav li {
    margin-left: 0;
  }
}
@media only screen and (max-width: 992px) {
  .timeline {
    width: 100%;
    min-width: 100%;
  }
  .timeline__header-block {
    padding: 60px 0;
  }
  .timeline__header-block-title {
    font-size: 70px;
    line-height: 90px;
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .timeline__header-block-desc {
    margin-top: 30px;
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .timeline__header-block-list {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .timeline__header-block-list-item .title-item {
    font-size: 40px;
    line-height: 50px;
  }
  .timeline__header-block-list-item .desc {
    font-size: 18px;
  }
  .timeline__body-title {
    font-size: 70px;
    line-height: 80px;
    margin: 60px 0 0;
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .timeline__body-timeline {
    margin-top: 0;
  }
  .timeline-slider__item:before {
    font-size: 180px;
    line-height: 150px;
  }
}
@media only screen and (max-width: 767px) {
  .timeline {
    width: 100%;
    min-width: 100%;
    padding: 80px 0 0;
  }
  .timeline__header-block {
    padding: 30px 0;
    height: 940px;
    background-position: -300px 45%;
  }
  .timeline__header-block-title {
    font-size: 50px;
    line-height: 60px;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
  }
  .timeline__header-block-desc {
    margin-top: 30px;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
  }
  .timeline__header-block-list {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
  }
  .timeline__header-block-list-item .title-item {
    font-size: 30px;
    line-height: 40px;
  }
  .timeline__header-block-list-item .desc {
    margin-top: 0;
  }
  .timeline__body-title {
    font-size: 50px;
    line-height: 54px;
    margin: 30px 0 0;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .timeline__body-timeline {
    margin-top: 0;
    height: 680px;
    margin-bottom: 80px;
  }
  .timeline-slider__item:before {
    font-size: 180px;
    line-height: 150px;
  }
}
@media only screen and (max-width: 480px) {
  .timeline__header-block {
    height: auto;
  }
  .timeline__header-block-title {
    font-size: 36px;
    line-height: 46px;
  }
  .timeline__header-block-desc p {
    font-size: 18px;
    line-height: 28px;
  }
  .timeline__header-block-list-item {
    margin: 0 0 20px 0;
  }
  .timeline__header-block-list-item .title-item {
    font-size: 26px;
    line-height: 36px;
  }
  .timeline__header-block-list-item .desc {
    font-size: 18px;
    line-height: 24px;
  }
  .timeline__body-title {
    font-size: 36px;
    line-height: 46px;
    margin: 20px 0 0;
  }
  .timeline-slider__item:before {
    font-size: 60px;
    line-height: 80px;
  }
}

.foot {
  background-color: #FAFAFA;
  padding-top: 70px;
  padding-bottom: 24px;
  position: relative;
}
.foot__logo {
  margin-bottom: 32px;
  display: inline-block;
}
.foot__contact,
.foot__link {
  list-style: none;
}
.foot__contact li,
.foot__link li {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}
.foot__contact li:last-child,
.foot__link li:last-child {
  margin-bottom: 0;
}
.foot__contact li a,
.foot__link li a {
  line-height: 24px;
  color: #333;
}
.foot__contact li a:focus,
.foot__link li a:focus,
.foot__contact li a:hover,
.foot__link li a:hover {
  color: #92B700;
  text-decoration: none;
}
.foot__link li:first-child a.blank:after {
  content: url("../images/ext-link.svg");
  position: relative;
  left: 5px;
  top: -5px;
}
.foot__copyright {
  border-top: 1px solid #E1E1E1;
  padding-top: 24px;
  margin-top: 24px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.foot__copyright .recaptcha {
  font-size: 6px;
}
.foot__copyright .recaptcha a {
  color: #92B700;
}
.foot__copyright .recaptcha a:focus,
.foot__copyright .recaptcha a:hover {
  color: #A4C815;
  text-decoration: underline;
}
.foot__copyright .agreement {
  display: block;
}
.foot__copyright .agreement a {
  font-size: 12px;
}
.foot__copyright .agreement a:focus,
.foot__copyright .agreement a:hover {
  color: #A4C815;
  text-decoration: underline;
}
.foot__copyright a {
  line-height: 24px;
  color: #333;
}
.foot__copyright a:focus,
.foot__copyright a:hover {
  color: #92B700;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */

@media (min-width: 768px) and (max-width: 1199px) {
  .slider {
    margin-bottom: 60px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
  .timeline__header-block {
    /* background-position: -570px 150px; */
    background-position: 0 0;
    height: 1070px;
  }
  .menu-top li a {
    font-size: 12px;
  }
  .top__action .button {
    font-size: 14px;
  }

}

@media (min-width: 1200px){
  .slider {
    margin-bottom: 60px;
  }
}
