/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End of Eric Meyer's CSS Reset */
html {
  height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

body {
  font: 16px/18px Muller, sans-serif;
  height: 100%;
  letter-spacing: 1px; }

.wrapper {
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

.h2 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 26px;
  text-align: center;
  color: #333; }
  .h2__text {
    text-align: center;
    font-size: 18px;
    color: #242424;
    letter-spacing: normal;
    line-height: 1.3; }

@media (max-width: 1250px) {
  .wrapper {
    min-width: auto; } }

@media (max-width: 737px) {
  .wrapper {
    min-width: 100%; }
  .h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 16px; }
    .h2__text {
      font-size: 14px; }
      .h2__text br {
        display: none; } }

@media (max-width: 374px) {
  .h2 {
    font-size: 20px; }
    .h2__text br {
      display: none; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .usetechblock__wrap {
    display: block; } }

.footer-new {
  margin: -315px auto 0;
  min-width: 1000px;
  height: 315px;
  background: url("../img/footer-bg.svg") no-repeat;
  background-position: center top;
  position: relative; }
  .footer-new__content {
    padding-top: 60px; }
  .footer-new__logo {
    height: 60px;
    background: url("../img/logo-green.svg") no-repeat;
    background-size: contain; }
  .footer-new__wrap {
    display: flex; }
  .footer-new__contact {
    margin-top: 24px;
    width: 400px; }
  .footer-new__links {
    margin-top: 24px;
    width: 400px; }
    .footer-new__links a {
      display: block;
      text-decoration: none;
      transition: color 0.2s; }
      .footer-new__links a:hover {
        color: #92B700; }
    .footer-new__links .footer__string {
      color: #333; }
  .footer-new__string {
    font-weight: 200;
    margin-bottom: 16px;
    color: #8A8A8A; }
    .footer-new__string strong {
      font-weight: normal;
      opacity: 1;
      color: #333; }
    .footer-new__string-mail {
      text-decoration: none;
      font-weight: normal;
      opacity: 1;
      color: #333; }
      .footer-new__string-mail:hover {
        cursor: pointer;
        text-decoration: none;
        color: #92B700; }
  .footer-new__soc {
    display: flex;
    align-items: center; }
    .footer-new__soc-item {
      color: #92B700;
      margin-right: 16px;
      font-size: 20px; }
  .footer-new__copyright {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    text-transform: uppercase;
    color: #333; }
    .footer-new__copyright a {
      padding-bottom: 16px;
      color: #333;
      text-decoration: none; }
      .footer-new__copyright a:hover {
        color: #92B700; }

@media (max-width: 1250px) {
  .footer-new {
    min-width: auto;
    margin: 0px auto 0; } }

@media (max-width: 1000px) {
  .footer-new__contact {
    width: 520px; } }

@media (max-width: 737px) {
  .footer-new {
    min-width: auto;
    height: auto;
    min-height: auto;
    margin: 0;
    background: #FAFAFA; }
    .footer-new__logo {
      background-size: 175px auto; }
    .footer-new__content {
      padding-top: 32px; }
    .footer-new__wrap {
      display: block; }
    .footer-new__contact, .footer-new__links {
      margin-bottom: 32px;
      width: auto; }
    .footer-new__copyright {
      display: block;
      padding-bottom: 16px; }
      .footer-new__copyright span {
        font-weight: bold; }
      .footer-new__copyright a {
        padding-bottom: 0px; } }

.content {
  padding: 0 0 315px; }
  .content__box {
    margin: 0 auto;
    max-width: 1200px; }

@media (max-width: 1250px) {
  .content {
    padding-bottom: 0; }
    .content__box {
      box-sizing: border-box;
      padding: 0 16px;
      max-width: none; } }

@media (max-width: 1000px) {
  .content {
    padding-bottom: 0; }
    .content__box {
      box-sizing: border-box;
      padding: 0 16px;
      max-width: none; } }

@media (max-width: 737px) {
  .content {
    padding-bottom: 0; }
    .content__box {
      box-sizing: border-box;
      padding: 16px;
      max-width: none; } }

@media (max-width: 374px) {
  .content__box {
    padding: 0px 16px; } }

.header-java {
  height: 0;
  background: url("../img/green-top.svg") no-repeat;
  background-position: center bottom;
  height: 685px;
  position: relative;
  z-index: 2; }
  .header-java_ekb {
    height: 600px; }
  .header-java__contetnt {
    display: flex;
    padding-top: 50px; }
  .header-java__left {
    flex: 1; }
  .header-java__right {
    flex: 1; }
  .header-java__logoblock {
    display: flex; }
    .header-java__logoblock-logo {
      background: url("../img/logo-white.svg") no-repeat;
      width: 206px;
      min-width: 206px;
      height: 50px;
      margin-right: 10px;
      display: block;
      outline: none;
      cursor: pointer; }
    .header-java__logoblock-text {
      margin-left: 30px;
      border-left: 1px solid white;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 24px;
      font-weight: bold;
      padding-left: 30px; }
  .header-java__javablock {
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 43px;
    border-radius: 8px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header-java__javablock_ekb {
      height: 180px; }
    .header-java__javablock-ekb {
      color: white;
      line-height: 1;
      white-space: nowrap;
      font-size: 56px;
      text-transform: uppercase;
      font-weight: 800;
      color: #FFFFFF;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.11); }
      .header-java__javablock-ekb-text {
        color: white;
        line-height: 1;
        white-space: nowrap;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        color: #FFFFFF;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.11); }
    .header-java__javablock-big {
      color: white;
      line-height: 1;
      font-size: 187px;
      font-weight: 800;
      text-shadow: 1px 1px 1px black;
      font-size: 187px;
      color: #FFFFFF;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.11); }
    .header-java__javablock-text {
      color: white;
      font-size: 48px;
      font-weight: bold;
      line-height: 1;
      margin-top: -15px;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.11);
      text-transform: uppercase;
      letter-spacing: 4.6px; }
  .header-java__contacts {
    margin-top: 7px; }
  .header-java__tell {
    font-size: 30px;
    color: white;
    text-align: right;
    line-height: 1;
    margin-bottom: 6px; }
  .header-java__infoblock {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 30px; }
    .header-java__infoblock-soc {
      display: flex;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      font-size: 24px; }
      .header-java__infoblock-soc-item {
        margin-left: 5.3333333333px;
        color: white;
        cursor: pointer;
        outline: none; }
        .header-java__infoblock-soc-item:hover {
          color: #92B700; }
    .header-java__infoblock-mail {
      color: white;
      border-left: 1px solid white;
      margin-left: 20px;
      padding-left: 20px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none; }
      .header-java__infoblock-mail:hover {
        color: #92B700;
        text-decoration: none; }
  .header-java__man {
    width: 100%;
    padding-bottom: 75%;
    background: url("../img/theman2.svg") no-repeat;
    background-size: contain;
    background-position: right top;
    margin-top: 30px; }
    .header-java__man-wrap {
      display: flex;
      justify-content: flex-end; }
  .header-java__cat {
    width: 100px;
    height: 100px;
    position: absolute;
    right: calc(50% - 730px);
    bottom: 30px;
    background: url(../img/cat.svg) no-repeat;
    background-size: contain;
    z-index: 1000; }
  .header-java__add {
    position: absolute;
    bottom: -41px;
    width: 420px;
    background: #333;
    font-weight: bold;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83px;
    border-radius: 83px;
    left: calc(50% - (210px));
    transition: all 0.3s;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    letter-spacing: normal; }
    .header-java__add:hover {
      background: black;
      box-shadow: inset 5px 5px 0px 1px #0000000d; }
  .header-java__stack {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 90%; }
    .header-java__stack-item {
      border-radius: 30px;
      border: 1px solid white;
      font-size: 18px;
      font-weight: bold;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding: 0 21px;
      margin-left: 12px;
      margin-bottom: 12px;
      padding-top: 2px; }

@media (max-width: 1250px) {
  .header-java__javablock-big {
    font-size: 150px; }
  .header-java__javablock-text {
    font-size: 38px; } }

@media (max-width: 1000px) {
  .header-java__javablock {
    height: 220px; }
    .header-java__javablock-big {
      font-size: 112px; }
    .header-java__javablock-text {
      font-size: 26px; }
  .header-java__tell {
    font-size: 24px; } }

@media (max-width: 737px) {
  .header-java {
    height: auto;
    padding-bottom: 45px;
    background-size: cover;
    margin-bottom: 70px; }
    .header-java__add {
      font-size: 20px;
      width: auto;
      height: 65px;
      padding: 0 40px;
      bottom: -32px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap; }
    .header-java__contetnt {
      display: block;
      padding-top: 16px; }
    .header-java__logoblock {
      width: auto; }
      .header-java__logoblock-logo {
        width: 206px;
        min-width: auto;
        padding: 0;
        margin: 0;
        background-size: contain;
        background-position: center; }
      .header-java__logoblock-text {
        margin-left: 16px;
        padding-left: 16px;
        font-size: 20px;
        max-width: 40%; }
    .header-java__javablock {
      width: auto;
      height: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 32px; }
      .header-java__javablock-ekb {
        font-size: 8vw;
        margin-bottom: 5px; }
      .header-java__javablock-big {
        font-size: 100px;
        text-align: center;
        margin-bottom: 16px; }
      .header-java__javablock-text {
        font-size: 20px;
        text-align: center; }
    .header-java__stack {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
      max-width: none;
      width: auto; }
    .header-java__man-wrap {
      display: none; }
  .header-java__right {
    display: none; } }

@media (max-width: 374px) {
  .header-java__add {
    font-size: 16px; }
  .header-java__stack-item {
    font-size: 15px; } }

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/MullerLight.eot");
  src: url("../fonts/Muller/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerLight.woff") format("woff"), url("../fonts/Muller/MullerLight.ttf") format("truetype"), url("../fonts/Muller/MullerLight.svg#pf_din_text_comp_promedium") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/MullerRegular.eot");
  src: url("../fonts/Muller/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular.ttf") format("truetype"), url("../fonts/Muller/MullerRegular.svg#pf_din_text_comp_promedium") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/MullerMedium.eot");
  src: url("../fonts/Muller/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerMedium.woff") format("woff"), url("../fonts/Muller/MullerMedium.ttf") format("truetype"), url("../fonts/Muller/MullerMedium.svg#pf_din_text_comp_promedium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/MullerBold.eot");
  src: url("../fonts/Muller/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerBold.woff") format("woff"), url("../fonts/Muller/MullerBold.ttf") format("truetype"), url("../fonts/Muller/MullerBold.svg#pf_din_text_comp_promedium") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/MullerBlack.eot");
  src: url("../fonts/Muller/MullerBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerBlack.woff") format("woff"), url("../fonts/Muller/MullerBlack.ttf") format("truetype"), url("../fonts/Muller/MullerBlack.svg#pf_din_text_comp_promedium") format("svg");
  font-weight: 900;
  font-style: normal; }

.usetechblock {
  background: url("../img/gray-bg.svg") no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 1;
  margin-top: -5%; }
  .usetechblock__wrap {
    padding-top: 5%;
    padding: 5% 0 7%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .usetechblock__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .usetechblock__text {
    margin: 90px 0 30px; }
    .usetechblock__text-bold {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 16px;
      letter-spacing: 0.4px;
      line-height: 1.3; }
    .usetechblock__text-text {
      font-size: 18px;
      letter-spacing: 0.4px;
      line-height: 1.3; }
      .usetechblock__text-text a {
        color: #92B700;
        font-weight: bold;
        outline: none;
        text-decoration: none; }
      .usetechblock__text-text strong {
        font-weight: bold; }
  .usetechblock__left-logo {
    width: 265px;
    height: 92px;
    background: url("../img/logo-java.svg") no-repeat; }
    .usetechblock__left-logo_all {
      background: url("../img/logo-green.svg") no-repeat;
      background-position: left center; }
  .usetechblock__right {
    margin-left: 110px; }
    .usetechblock__right-award {
      display: flex;
      align-items: center; }
      .usetechblock__right-award-row {
        display: flex;
        align-items: center;
        margin-right: 16px; }
        .usetechblock__right-award-row:last-child {
          margin-right: 0; }
      .usetechblock__right-award-block {
        border-radius: 8px;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.07);
        background-color: #fafafa;
        margin-right: 16px;
        width: 186px;
        height: 133px;
        display: flex;
        align-items: center;
        flex-direction: column; }
        .usetechblock__right-award-block:last-child {
          margin-right: 0; }
        .usetechblock__right-award-block .logo {
          width: 140px;
          height: 70px;
          margin: 10px 0;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          opacity: .7; }
          .usetechblock__right-award-block .logo__award {
            background-image: url("../img/logo_tagline_awards.png"); }
          .usetechblock__right-award-block .logo__magic {
            background-image: url("../img/logo_magic.png"); }
          .usetechblock__right-award-block .logo__cnews {
            background-image: url("../img/logo_cnews.png"); }
          .usetechblock__right-award-block .logo__hh {
            background-image: url("../img/logo_hh.png"); }
        .usetechblock__right-award-block .place {
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          color: #333333;
          display: flex;
          align-items: center; }
          .usetechblock__right-award-block .place span {
            line-height: 30px; }
          .usetechblock__right-award-block .place__cup {
            background-position: 8px 4px;
            background-repeat: no-repeat;
            width: 30px;
            height: 28px;
            margin-right: 3px;
            background-size: 20px auto; }
            .usetechblock__right-award-block .place__cup_gold {
              background-image: url("../img/cup-gold.png"); }
            .usetechblock__right-award-block .place__cup_silver {
              background-image: url("../img/cup-silver.png"); }
          .usetechblock__right-award-block .place__medal {
            margin-right: 3px;
            background-image: url("../img/medal_bw.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px auto;
            width: 30px;
            height: 24px; }

@media (max-width: 1250px) {
  .usetechblock__content {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 20px;
    margin: 0; }
  .usetechblock__text {
    width: 792px;
    text-align: center; }
  .usetechblock__left {
    margin-top: 20px;
    margin-bottom: 40px;
    display: none; }
  .usetechblock__right {
    margin-top: 20px;
    margin-left: 0; } }

@media (max-width: 860px) {
  .usetechblock {
    background: #fafafa; }
    .usetechblock__wrap {
      padding: 5% 0 1%; }
    .usetechblock__text {
      width: auto; }
    .usetechblock__right-award {
      flex-direction: column; }
      .usetechblock__right-award-row {
        flex-direction: row;
        margin-right: 0px; }
      .usetechblock__right-award:last-child {
        margin-right: 0; }
      .usetechblock__right-award-block {
        margin-bottom: 20px;
        margin-right: 20px; } }

@media (max-width: 737px) {
  .usetechblock__text {
    margin-top: 0;
    width: auto; }
  .usetechblock__wrap {
    padding-top: 80px;
    margin-top: -100px; }
  .usetechblock__content {
    display: block;
    padding: 0;
    padding-bottom: 20px;
    margin: 0; }
  .usetechblock__left {
    margin-bottom: 20px;
    display: none; }
  .usetechblock__right {
    padding: 0;
    margin: 0; }
    .usetechblock__right-award {
      flex-wrap: wrap;
      justify-content: center; }
      .usetechblock__right-award-row {
        margin-right: 0px; }
      .usetechblock__right-award-block {
        width: 150px;
        margin: 4px; }
        .usetechblock__right-award-block:last-child {
          margin-right: 4px; }
        .usetechblock__right-award-block .logo {
          width: 120px;
          height: 60px;
          margin: 15px 0 12px; } }

@media (max-width: 374px) {
  .usetechblock__text {
    margin-bottom: 20px; }
    .usetechblock__text-bold {
      padding: 0 10px;
      font-size: 18px; }
    .usetechblock__text-text {
      padding: 0 10px;
      font-size: 16px; }
  .usetechblock__right-award-block {
    width: 135px; }
    .usetechblock__right-award-block .logo {
      width: 100px;
      height: 60px;
      margin: 15px 0 12px; } }

.location {
  margin: 30px 0; }
  .location__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px; }
  .location__item {
    max-width: 100px;
    min-width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
    margin-right: 30px;
    box-sizing: border-box;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
    padding: 24px;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    border: 2px solid transparent;
    position: relative; }
    .location__item:hover {
      border: 2px solid #a4c815;
      box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.25);
      text-decoration: none;
      transition: all 0.2s;
      outline: none; }
      .location__item:hover .location__item-btn {
        background: #92B700;
        color: white; }
    .location__item:focus {
      border: 2px solid transparent;
      box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
      outline: none;
      text-decoration: none !important; }
    .location__item_btns {
      padding-bottom: 90px; }
    .location__item:nth-child(3n) {
      margin-right: 0; }
    .location__item-stamp {
      position: absolute;
      width: 85px;
      height: 65px;
      background: url("../img/relocation.svg") no-repeat;
      background-size: contain;
      top: 10px;
      right: 10px;
      opacity: 0.7;
      transform: rotate(52deg); }
    .location__item-header {
      height: 56px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: #000000; }
      .location__item-header-title {
        font-weight: bold;
        font-size: 21px;
        color: black; }
      .location__item-header-technology {
        width: 55px;
        height: 55px;
        background: red;
        margin-right: 8px; }
        .location__item-header-technology_java {
          background: url(../img/java-logo.png) no-repeat;
          background-size: contain !important;
          background-position: center top;
          position: relative;
          top: -5px; }
        .location__item-header-technology_react {
          background: url(../img/react.png) no-repeat;
          background-size: contain !important; }
        .location__item-header-technology_qa {
          background: url(../img/QA.svg) no-repeat;
          background-size: contain !important;
          background-position: center 10px; }
        .location__item-header-technology_android {
          background: url(../img/android.png) no-repeat;
          background-size: contain !important;
          background-position: center top;
          background-size: 70% !important; }
        .location__item-header-technology_ios {
          background: url(../img/ios.png) no-repeat;
          background-size: contain !important;
          background-position: center top;
          background-size: 70% !important; }
        .location__item-header-technology_analitic {
          background: url(../img/brain.png) no-repeat;
          background-size: contain !important;
          background-position: center center;
          background-size: 70% !important; }
      .location__item-header-position {
        color: #616161;
        font-size: 14px; }
      .location__item-header-wrap_down {
        position: relative;
        top: 7px; }
      .location__item-header-logo {
        width: 56px;
        height: 56px;
        margin-right: 16px; }
        .location__item-header-logo_blue {
          background: url("../img/metro/blue-metro.svg") no-repeat;
          background-size: contain; }
        .location__item-header-logo_ell {
          background: url("../img/metro/ell-metro.svg") no-repeat;
          background-size: contain; }
        .location__item-header-logo_red2 {
          background: url("../img/metro/red2-metro.svg") no-repeat;
          background-size: contain; }
        .location__item-header-logo_red {
          background: url("../img/metro/red-metro.svg") no-repeat;
          background-size: contain; }
      .location__item-header-metro {
        font-weight: bold;
        font-size: 21px;
        margin-bottom: 5px;
        letter-spacing: normal; }
    .location__item-text {
      color: #333;
      line-height: 1.4;
      font-size: 14px;
      margin-bottom: 26px;
      letter-spacing: 0.4px; }
    .location__item-stack {
      display: flex;
      flex-wrap: wrap; }
      .location__item-stack-item {
        border-radius: 30px;
        border: 1px solid #616161;
        font-size: 18px;
        color: #616161;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        padding: 0 16px;
        margin-right: 7px;
        margin-bottom: 7px;
        padding-top: 2px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .location__item-btn {
      text-align: center;
      font-size: 16px;
      padding: 13px;
      border-radius: 40px;
      border: 1px solid #92B700;
      color: black;
      margin-top: 20px;
      transition: all 0.2s;
      position: absolute;
      bottom: 24px;
      left: 24px;
      right: 24px; }

@media (max-width: 1250px) {
  .location {
    margin-top: 0; }
    .location__item-header-wrap {
      top: 0px; }
    .location__item-header-metro {
      font-size: 18px;
      margin-bottom: 5px; }
    .location .h2 {
      font-size: 36px; } }

@media (max-width: 1100px) {
  .location__item-header-metro {
    font-size: 17px;
    margin-bottom: 4px; }
  .location .h2 {
    font-size: 36px; } }

@media (max-width: 1050px) {
  .location__item-header-metro {
    font-size: 15px;
    margin-bottom: 3px; }
  .location .h2 {
    font-size: 36px; } }

@media (max-width: 1000px) {
  .location__item-header-wrap {
    top: 0px; }
  .location__item-header-metro {
    font-size: 21px;
    margin-bottom: 5px; }
  .location .h2 {
    font-size: 30px; }
  .location__item {
    min-width: calc((100% - 20px) / 2);
    margin-bottom: 20px;
    margin-right: 20px; }
    .location__item:nth-child(3n) {
      margin-right: 20px; }
    .location__item:nth-child(2n) {
      margin-right: 0; } }

@media (max-width: 860px) {
  .location {
    margin-top: 40px; }
  .h2 {
    font-size: 22px; } }

@media (max-width: 737px) {
  .location {
    margin-top: 30px;
    margin-bottom: 0; }
    .location .h2 {
      padding: 0 20px; }
    .location__wrap {
      margin-top: 30px; }
    .location__item {
      margin-right: 0 !important;
      margin-bottom: 16px;
      max-width: none;
      min-width: auto;
      width: auto; }
      .location__item-header-metro {
        font-size: 20px; }
      .location__item-header-wrap {
        top: 5px; } }

@media (max-width: 374px) {
  .location .h2 {
    font-size: 20px;
    padding: 0 20px; }
  .location__item-header-metro {
    font-size: 15px;
    margin-bottom: 1px; }
  .location__item-header-wrap {
    top: 0px; }
  .location__item-stack-item {
    font-size: 12px; } }

.comand {
  margin: 70px 0; }
  .comand__content {
    min-height: 300px;
    margin-top: 20px;
    padding-top: 20px;
    background: url("../img/cofee-1.png") no-repeat;
    background-size: auto;
    background-position: center 0; }
    .comand__content-string {
      display: flex;
      height: 100px;
      display: flex;
      align-items: center; }
    .comand__content-left {
      padding-right: 185px;
      flex: 1;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .comand__content-left_center {
        padding-right: 245px; }
    .comand__content-right {
      padding-left: 185px;
      flex: 1;
      display: flex;
      align-items: center; }
      .comand__content-right_center {
        padding-left: 245px; }
      .comand__content-right .comand__content-text {
        margin-right: 0;
        margin-left: 16px; }
    .comand__content-text {
      color: #616161;
      font-weight: bold;
      font-size: 18px;
      margin-right: 16px; }
      .comand__content-text-icon {
        height: 64px;
        width: 64px;
        min-width: 64px;
        background-position: center;
        background-repeat: no-repeat; }
        .comand__content-text-icon_1 {
          background-image: url("../img/cofe/marker.svg");
          background-size: 43px auto; }
        .comand__content-text-icon_2 {
          background-image: url("../img/cofe/pens.svg"); }
        .comand__content-text-icon_3 {
          background-image: url("../img/cofe/palms.svg"); }
        .comand__content-text-icon_4 {
          background-image: url("../img/cofe/tennis.png");
          background-size: 50px auto; }
        .comand__content-text-icon_5 {
          background-image: url("../img/cofe/doc.svg"); }
        .comand__content-text-icon_6 {
          background-image: url("../img/cofe/money.png");
          background-size: 60px 60px; }
        .comand__content-text-icon_7 {
          background-image: url("../img/cofe/dms.svg"); }
        .comand__content-text-icon_8 {
          background-image: url("../img/cofe/taxi.svg"); }
        .comand__content-text-icon_10 {
          background-image: url("../img/cofe/frame.svg"); }
        .comand__content-text-icon_12 {
          background-image: url("../img/cofe/alarm-clock.svg"); }
  .comand__footer {
    text-align: center;
    margin: -20px 0 70px;
    color: #616161;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.4px; }

@media (max-width: 1000px) {
  .comand .h2__text br {
    display: none; }
  .comand__content {
    background: none; }
    .comand__content-left {
      text-align: left;
      justify-content: flex-start;
      flex-direction: row-reverse;
      padding-right: 20px; }
      .comand__content-left_center {
        padding-right: 20px; }
    .comand__content-text {
      margin-right: 0;
      margin-left: 16px;
      flex: 1; }
      .comand__content-text br {
        display: none; }
    .comand__content-right {
      padding-left: 0px; }
      .comand__content-right .comand__content-text {
        margin-right: 0;
        margin-left: 16px; }
      .comand__content-right_center {
        padding-left: 0px; } }

@media (max-width: 737px) {
  .comand {
    margin-top: 16px; }
    .comand__footer {
      margin-top: -20px;
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 32px; }
    .comand__content {
      background: none; }
      .comand__content-text {
        margin-right: 0;
        margin-left: 0 !important; }
        .comand__content-text-icon {
          margin-right: 16px;
          min-width: 64px;
          background-position: center; }
      .comand__content-string {
        display: block;
        height: auto; }
      .comand__content-left, .comand__content-right {
        margin-bottom: 16px;
        padding: 0;
        text-align: left; }
      .comand__content-left {
        flex-direction: row-reverse; } }

@media (max-width: 374px) {
  .comand .h2 {
    font-size: 18px; }
  .comand__content-text {
    font-size: 15px; }
    .comand__content-text-icon {
      background-size: contain;
      height: 50px;
      width: 45px;
      min-width: 45px; }
  .comand__footer {
    font-size: 14px; } }

.add {
  display: flex;
  justify-content: center;
  margin-bottom: 70px; }
  .add__btn {
    background: #A4C815;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0);
    border-radius: 41.5px;
    height: 83px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 75px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    letter-spacing: normal; }
    .add__btn:hover {
      background: #333; }

@media (max-width: 737px) {
  .add {
    margin-bottom: 32px; }
    .add__btn {
      font-size: 20px;
      width: auto;
      height: 65px;
      padding: 0 40px;
      bottom: -32px;
      left: 50%;
      white-space: nowrap; } }

@media (max-width: 374px) {
  .add__btn {
    font-size: 16px; } }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal .red {
    color: red; }
  .modal.fade {
    opacity: 0;
    transition: opacity .15s linear;
    transition: transform .3s ease-out;
    transform: translate(0, -25%); }
    .modal.fade.in {
      opacity: 1;
      display: block;
      margin: 16px auto;
      transform: translate(0, 0); }
  .modal-header {
    border-bottom: 0px none;
    padding: 15px; }
    .modal-header p.feedback-notes {
      margin-bottom: 0px;
      color: #909090;
      font-size: 12px; }
  .modal-body {
    position: relative;
    padding: 15px; }
    .modal-body:after {
      content: "";
      display: table;
      clear: both; }
  .modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    padding: 16px; }
  .modal .agree-link {
    color: #92B700;
    text-decoration: none;
    outline: none; }
  .modal-form textarea {
    font-size: 16px;
    font-weight: 300;
    height: auto; }
  .modal-form .form-group span {
    content: "*";
    position: absolute;
    color: red;
    top: 0px;
    right: -10px;
    margin-bottom: 30px; }
  .modal-form label {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px; }
  .modal-form input {
    font-size: 16px;
    font-weight: 300;
    height: 43px;
    font-size: 16px;
    font-weight: 300; }
  .modal-form input[type="checkbox" i] {
    height: auto;
    margin: 0px 5px 0 0;
    position: relative;
    top: -2px; }
  .modal-form textarea {
    font-size: 16px;
    font-weight: 300; }
  .modal-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    line-height: 1.42857143; }
    .modal-title .header-green {
      color: #92B700; }
  .modal .btn {
    background: #92B700;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    letter-spacing: normal;
    border: none;
    box-shadow: none;
    text-transform: none; }
    .modal .btn:hover {
      background: black;
      transform: translateY(0px); }

.file-upload {
  margin-top: 13px;
  height: 138px; }

.wpcf7-list-item-label {
  letter-spacing: normal; }

.ajax-loader {
  position: absolute; }

.modal-backdrop.in {
  display: block;
  filter: alpha(opacity=50);
  opacity: .5; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  display: none; }

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  background: none;
  border: none; }

.form-mini__line span {
  display: block;
  margin-bottom: 10px; }

.form-mini__line-wrap {
  display: flex;
  margin-bottom: 10px; }

.form-mini__line-right {
  flex: 1; }

.form-mini__input input {
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box; }
